
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo&family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #222;
}

p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

h3 {
  padding: 0;
  margin: 0;
}


.App {

  font-family: "Noto Serif KR",serif;
  background-color: rgb(59, 59, 59);

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
